doctype html
html.no-js(lang='it')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', href='images/favicon.ico?v=1.0')
        title= title

        link(rel='stylesheet', href='css/app.css')
        // endbuild
    body
        <!--[if lt IE 10]>
        p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        <![endif]-->
        include includes/header.pug
        .container
            block content
                h4 Digita una località
                form
                    input(placeholder='Cerca')
                    button Search
                p.msg-1
                p.msg-2
        include includes/footer.pug
        block script
            script(src='js/app.js')


